.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.nav-link {
  color: rgb(168, 9, 4);
  text-decoration: none;
  font-size: 1em;
  padding: 2vw;
}
